 .u-section-1 {
  background-image: none;
  min-height: 1008px;
}

.u-section-1 .u-shape-1 {
  height: 403px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-1 .u-image-1 {
  width: 422px;
  height: 422px;
  background-image: url("images/5e51c6ae16879c0ee9c10815_peep-2.png");
  background-position: 50% 50%;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -102px auto 0 calc(((100% - 1140px) / 2) + -29px);
}

.u-section-1 .u-shape-2 {
  width: 88px;
  height: 88px;
  transition-duration: 0.5s;
  margin: -395px calc(((100% - 1140px) / 2) + 482px) 0 auto;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 3rem;
  font-weight: 700;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 2px 8px rgba(128,128,128,1);
  width: 466px;
  margin: -281px auto 0;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 3rem;
  font-weight: 700;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 2px 8px rgba(128,128,128,1);
  margin: 185px calc(((100% - 1140px) / 2) + 217px) 0 calc(((100% - 1140px) / 2) + 457px);
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 3rem;
  font-weight: 700;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 2px 8px rgba(128,128,128,1);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 21px calc(((100% - 1140px) / 2) + 168px) 0 calc(((100% - 1140px) / 2) + 624px);
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 2px -2px 8px rgba(128,128,128,1);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 19px calc(((100% - 1140px) / 2) + 326px) 0 calc(((100% - 1140px) / 2) + 624px);
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 8px rgba(128,128,128,1);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 19px calc(((100% - 1140px) / 2) + 209px) 0 calc(((100% - 1140px) / 2) + 624px);
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: -2px 2px 8px rgba(128,128,128,1);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 19px calc(((100% - 1140px) / 2) + 131px) 0 calc(((100% - 1140px) / 2) + 624px);
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  box-shadow: -2px 2px 8px 0px rgba(128,128,128,1);
  transition-duration: 0.5s;
  margin: 29px calc(((100% - 1140px) / 2) + 141px) 0 auto;
}

.u-section-1 .u-shape-3 {
  width: 87px;
  height: 87px;
  transition-duration: 0.5s;
  margin: -34px calc(((100% - 1140px) / 2) + 84px) 0 auto;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  box-shadow: -2px 2px 8px 0px rgba(128,128,128,1);
  transition-duration: 0.25s;
  margin: -99px calc(((100% - 1140px) / 2) + 358px) 0 auto;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  transition-duration: 0.5s;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 87px calc(((100% - 1140px) / 2) + 389px) 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-2 {
  width: 64px;
  height: 64px;
  transition-duration: 0.5s;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -64px calc(((100% - 1140px) / 2) + 168px) 60px auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 940px) / 2) + -29px);
  }

  .u-section-1 .u-shape-2 {
    width: 102px;
    margin-top: -456px;
    margin-right: auto;
    margin-left: calc(((100% - 940px) / 2) + 368px);
  }

  .u-section-1 .u-text-1 {
    margin-top: -276px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 172px;
    margin-right: calc(((100% - 940px) / 2) + 333px);
    margin-left: calc(((100% - 940px) / 2) + 470px);
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 26px;
    margin-right: calc(((100% - 940px) / 2) + 125px);
    margin-left: calc(((100% - 940px) / 2) + 470px);
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 26px;
    margin-right: calc(((100% - 940px) / 2) + 291px);
    margin-left: calc(((100% - 940px) / 2) + 470px);
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 26px;
    margin-right: calc(((100% - 940px) / 2) + 163px);
    margin-left: calc(((100% - 940px) / 2) + 470px);
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 38px;
    margin-right: calc(((100% - 940px) / 2) + 85px);
    margin-left: calc(((100% - 940px) / 2) + 470px);
  }

  .u-section-1 .u-btn-2 {
    margin-top: 38px;
    margin-right: calc(((100% - 940px) / 2) + 278px);
  }

  .u-section-1 .u-shape-3 {
    margin-top: -46px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-3 {
    margin-top: -87px;
    margin-right: calc(((100% - 940px) / 2) + 80px);
  }

  .u-section-1 .u-icon-1 {
    margin-top: 102px;
    margin-right: calc(((100% - 940px) / 2) + 311px);
    padding: 6px;
  }

  .u-section-1 .u-icon-2 {
    margin-right: calc(((100% - 940px) / 2) + 113px);
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1466px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -160px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-2 {
    margin-top: 110px;
    margin-left: calc(((100% - 720px) / 2) + 88px);
  }

  .u-section-1 .u-text-1 {
    width: 156px;
    margin-top: -753px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 649px;
    margin-right: calc(((100% - 720px) / 2) + 417px);
    margin-left: calc(((100% - 720px) / 2) + 166px);
  }

  .u-section-1 .u-text-3 {
    margin-top: 29px;
    margin-right: calc(((100% - 720px) / 2) + 206px);
    margin-left: calc(((100% - 720px) / 2) + 166px);
  }

  .u-section-1 .u-text-4 {
    margin-top: 29px;
    margin-right: calc(((100% - 720px) / 2) + 360px);
    margin-left: calc(((100% - 720px) / 2) + 170px);
  }

  .u-section-1 .u-text-5 {
    margin-top: 25px;
    margin-right: calc(((100% - 720px) / 2) + 246px);
    margin-left: calc(((100% - 720px) / 2) + 166px);
  }

  .u-section-1 .u-text-6 {
    width: 387px;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 35px;
    margin-right: auto;
    margin-left: calc(((100% - 720px) / 2) + 194px);
  }

  .u-section-1 .u-shape-3 {
    margin-right: calc(((100% - 720px) / 2) + 103px);
  }

  .u-section-1 .u-btn-3 {
    margin-right: calc(((100% - 720px) / 2) + 198px);
  }

  .u-section-1 .u-icon-1 {
    margin-top: 128px;
    margin-right: auto;
    margin-left: calc(((100% - 720px) / 2) + 227px);
  }

  .u-section-1 .u-icon-2 {
    margin-right: calc(((100% - 720px) / 2) + 231px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-top: -211px;
  }

  .u-section-1 .u-shape-2 {
    height: 86px;
    margin-top: 57px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-1 {
    margin-top: -1049px;
    margin-left: calc(((100% - 540px) / 2) + 230px);
  }

  .u-section-1 .u-text-2 {
    margin-top: 959px;
    margin-right: calc(((100% - 540px) / 2) + 323px);
    margin-left: calc(((100% - 540px) / 2) + 80px);
  }

  .u-section-1 .u-text-3 {
    margin-top: 34px;
    margin-right: calc(((100% - 540px) / 2) + 116px);
    margin-left: calc(((100% - 540px) / 2) + 76px);
  }

  .u-section-1 .u-text-4 {
    margin-top: 34px;
    margin-right: calc(((100% - 540px) / 2) + 270px);
    margin-left: calc(((100% - 540px) / 2) + 80px);
  }

  .u-section-1 .u-text-5 {
    margin-top: 43px;
    margin-right: calc(((100% - 540px) / 2) + 156px);
    margin-left: calc(((100% - 540px) / 2) + 76px);
  }

  .u-section-1 .u-text-6 {
    margin-top: 32px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 57px;
    margin-left: calc(((100% - 540px) / 2) + 110px);
  }

  .u-section-1 .u-shape-3 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-3 {
    margin-right: calc(((100% - 540px) / 2) + 119px);
  }

  .u-section-1 .u-icon-1 {
    margin-top: 118px;
    margin-left: calc(((100% - 540px) / 2) + 153px);
  }

  .u-section-1 .u-icon-2 {
    margin-top: -58px;
    margin-right: calc(((100% - 540px) / 2) + 141px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1036px;
  }

  .u-section-1 .u-shape-1 {
    height: 298px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-top: -262px;
  }

  .u-section-1 .u-shape-2 {
    height: 87px;
    margin-top: 23px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    margin-top: -476px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 408px;
    margin-right: calc(((100% - 340px) / 2) + 184px);
    margin-left: calc(((100% - 340px) / 2) + 41px);
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
    margin-top: 25px;
    margin-right: calc(((100% - 340px) / 2) + 99px);
    margin-left: calc(((100% - 340px) / 2) + 41px);
  }

  .u-section-1 .u-text-4 {
    margin-top: 23px;
    margin-right: calc(((100% - 340px) / 2) + 114px);
    margin-left: calc(((100% - 340px) / 2) + 41px);
  }

  .u-section-1 .u-text-5 {
    margin-top: 18px;
    margin-right: calc(((100% - 340px) / 2) + 32px);
    margin-left: calc(((100% - 340px) / 2) + 33px);
  }

  .u-section-1 .u-text-6 {
    width: 300px;
    margin-top: 17px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 18px;
    margin-left: calc(((100% - 340px) / 2) + 20px);
  }

  .u-section-1 .u-shape-3 {
    margin-top: -22px;
    margin-right: calc(((100% - 340px) / 2) + -13px);
  }

  .u-section-1 .u-btn-3 {
    margin-top: -111px;
    margin-right: calc(((100% - 340px) / 2) + 20px);
  }

  .u-section-1 .u-icon-1 {
    margin-top: 117px;
    margin-left: calc(((100% - 340px) / 2) + 66px);
  }

  .u-section-1 .u-icon-2 {
    margin-top: -64px;
    margin-right: calc(((100% - 340px) / 2) + 51px);
  }
}

.u-section-1 .u-image-1,
.u-section-1 .u-image-1:before,
.u-section-1 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-1.u-image-1.u-image-1:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  border-style: solid !important;
  border-top-width: 4px !important;
  border-left-width: 4px !important;
  border-right-width: 4px !important;
  border-bottom-width: 4px !important;
  border-color: #43d9ad !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-image-1 {
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-image-1.u-image-1.u-image-1.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  border-style: solid !important;
  border-top-width: 4px !important;
  border-left-width: 4px !important;
  border-right-width: 4px !important;
  border-bottom-width: 4px !important;
  border-color: #43d9ad !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-image-1 {
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-3,
.u-section-1 .u-text-3:before,
.u-section-1 .u-text-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-3.u-text-3.u-text-3:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-text-3 {
  border-color: transparent !important;
}

.u-section-1 .u-text-3.u-text-3.u-text-3.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-text-3 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-text-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-5,
.u-section-1 .u-text-5:before,
.u-section-1 .u-text-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-5.u-text-5.u-text-5:hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-text-5 {
  border-color: transparent !important;
}

.u-section-1 .u-text-5.u-text-5.u-text-5.hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-text-5 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-text-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-4,
.u-section-1 .u-text-4:before,
.u-section-1 .u-text-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-4.u-text-4.u-text-4:hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-text-4 {
  border-color: transparent !important;
}

.u-section-1 .u-text-4.u-text-4.u-text-4.hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-text-4 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-text-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-6,
.u-section-1 .u-text-6:before,
.u-section-1 .u-text-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-6.u-text-6.u-text-6:hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-text-6 {
  border-color: transparent !important;
}

.u-section-1 .u-text-6.u-text-6.u-text-6.hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-text-6 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-text-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-shape-3,
.u-section-1 .u-shape-3:before,
.u-section-1 .u-shape-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-shape-3.u-shape-3.u-shape-3:hover {
  stroke: #e99287 !important;
  border-color: #e99287 !important;
}

.u-section-1 .u-shape-3.u-shape-3.u-shape-3.hover {
  stroke: #e99287 !important;
  border-color: #e99287 !important;
}

.u-section-1 .u-shape-2,
.u-section-1 .u-shape-2:before,
.u-section-1 .u-shape-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-shape-2.u-shape-2.u-shape-2:hover {
  stroke: #43d9ad !important;
  border-color: #43d9ad !important;
}

.u-section-1 .u-shape-2.u-shape-2.u-shape-2.hover {
  stroke: #43d9ad !important;
  border-color: #43d9ad !important;
}

.u-section-1 .u-text-1,
.u-section-1 .u-text-1:before,
.u-section-1 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-1.u-text-1.u-text-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  color: #43d9ad !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-text-1 {
  border-color: transparent !important;
}

.u-section-1 .u-text-1.u-text-1.u-text-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  color: #43d9ad !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-text-1 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-2,
.u-section-1 .u-text-2:before,
.u-section-1 .u-text-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-2.u-text-2.u-text-2:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-text-2 {
  border-color: transparent !important;
}

.u-section-1 .u-text-2.u-text-2.u-text-2.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-text-2 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-text-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-icon-1,
.u-section-1 .u-icon-1:before,
.u-section-1 .u-icon-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-icon-1.u-icon-1.u-icon-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  stroke-width: 0px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-icon-1 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-1 .u-icon-1.u-icon-1.u-icon-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  stroke-width: 0px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-icon-1 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-icon-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-icon-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-icon-2,
.u-section-1 .u-icon-2:before,
.u-section-1 .u-icon-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-icon-2.u-icon-2.u-icon-2:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  stroke-width: 0px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-icon-2 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-1 .u-icon-2.u-icon-2.u-icon-2.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  stroke-width: 0px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-icon-2 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-icon-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-icon-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-3,
.u-section-1 .u-btn-3:before,
.u-section-1 .u-btn-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-3.u-btn-3.u-btn-3:hover {
  border-radius: 35px !important;
}

.u-section-1 .u-btn-3.u-btn-3.u-btn-3.hover {
  border-radius: 35px !important;
}

.u-section-1 .u-btn-2,
.u-section-1 .u-btn-2:before,
.u-section-1 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2:hover {
  border-radius: 35px !important;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2.hover {
  border-radius: 35px !important;
}