 .u-section-1 {
  background-image: none;
  min-height: 1173px;
}

.u-section-1 .u-shape-1 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 3rem;
  font-weight: 700;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 2px 8px rgba(128,128,128,1);
  width: 466px;
  margin: -162px auto 0;
}

.u-section-1 .u-shape-2 {
  width: 1140px;
  height: 700px;
  --radius: 2px;
  margin: 131px auto 0;
}

.u-section-1 .u-shape-3 {
  width: 88px;
  height: 88px;
  transition-duration: 0.5s;
  margin: -599px calc(((100% - 1140px) / 2) + 482px) 0 auto;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 1.5rem;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 2px 8px rgba(128,128,128,1);
  font-weight: 700;
  margin: -31px calc(((100% - 1140px) / 2) + 211px) 0 calc(((100% - 1140px) / 2) + 597px);
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 1.5rem;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 2px 8px rgba(128,128,128,1);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  font-weight: 700;
  margin: 24px 299px 0 741px;
}

.u-section-1 .u-text-4 {
  transition-duration: 0.5s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 10px -2px 8px rgba(128,128,128,1);
  font-size: 1rem;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  font-weight: 700;
  margin: 29px 262px 0 741px;
}

.u-section-1 .u-text-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 5px 0px 8px rgba(128,128,128,1);
  font-size: 1rem;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  font-weight: 700;
  margin: 13px 333px 0 748px;
}

.u-section-1 .u-text-6 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: -2px 2px 8px rgba(128,128,128,1);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  font-weight: 700;
  margin: 30px 255px 0 748px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  box-shadow: -2px 2px 8px 0px rgba(128,128,128,1);
  transition-duration: 0.5s;
  --radius: 14px;
  background-image: none;
  margin: 44px calc(((100% - 1140px) / 2) + 169px) 0 auto;
}

.u-section-1 .u-shape-4 {
  width: 87px;
  height: 87px;
  transition-duration: 0.5s;
  margin: -32px calc(((100% - 1140px) / 2) + 103px) 0 auto;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  box-shadow: -2px 2px 8px 0px rgba(128,128,128,1);
  transition-duration: 0.25s;
  --radius: 14px;
  background-image: none;
  margin: -101px calc(((100% - 1140px) / 2) + 351px) 0 auto;
}

.u-section-1 .u-icon-1 {
  width: 51px;
  height: 51px;
  transition-duration: 0.5s;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  box-shadow: -2px 0 0 0 rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 110px auto 0;
  padding: 5px;
}

.u-section-1 .u-icon-2 {
  width: 51px;
  height: 51px;
  transition-duration: 0.5s;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  box-shadow: -2px 0 0 0 rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -51px calc(((100% - 1140px) / 2) + 259px) 0 auto;
  padding: 5px;
}

.u-section-1 .u-icon-3 {
  width: 64px;
  height: 64px;
  transition-duration: 0.5s;
  margin: -493px calc(((100% - 1140px) / 2) + 243px) 0 auto;
  padding: 12px;
}

.u-section-1 .u-group-1 {
  width: 431px;
  min-height: 428px;
  height: auto;
  margin: -103px auto 0 calc(((100% - 1140px) / 2) + 56px);
}

.u-section-1 .u-image-1 {
  background-image: url("images/2022_05_08_14_01_IMG_0077.jpeg");
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  background-image: url("images/2024_02_17_18_01_IMG_6171.JPG");
  background-position: 50% 50%;
  padding: 30px;
}

.u-section-1 .u-icon-4 {
  width: 51px;
  height: 51px;
  transition-duration: 0.5s;
  margin: 54px auto 60px calc(((100% - 1140px) / 2) + 246px);
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-2 {
    width: 956px;
    height: 720px;
    margin-top: 132px;
    margin-right: calc(((100% - 940px) / 2) + -16px);
  }

  .u-section-1 .u-shape-3 {
    margin-top: -622px;
    margin-right: calc(((100% - 940px) / 2) + 357px);
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -53px;
    margin-right: calc(((100% - 940px) / 2) + 111px);
    margin-left: calc(((100% - 940px) / 2) + 497px);
  }

  .u-section-1 .u-text-3 {
    width: auto;
    font-weight: normal;
    margin-top: 27px;
    margin-right: 199px;
    margin-left: 641px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 27px;
    margin-right: calc(((100% - 940px) / 2) + 43px);
    margin-left: calc(((100% - 940px) / 2) + 513px);
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 36px;
    margin-right: 233px;
    margin-left: 648px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 27px;
    margin-right: calc(((100% - 940px) / 2) + 25px);
    margin-left: calc(((100% - 940px) / 2) + 530px);
  }

  .u-section-1 .u-btn-2 {
    margin-top: 47px;
    margin-right: calc(((100% - 940px) / 2) + 83px);
  }

  .u-section-1 .u-shape-4 {
    margin-top: -60px;
    margin-right: calc(((100% - 940px) / 2) + 25px);
  }

  .u-section-1 .u-btn-3 {
    margin-top: -74px;
    margin-right: calc(((100% - 940px) / 2) + 244px);
  }

  .u-section-1 .u-icon-1 {
    margin-top: 104px;
    margin-right: calc(((100% - 940px) / 2) + 419px);
    padding: 6px;
  }

  .u-section-1 .u-icon-2 {
    margin-right: calc(((100% - 940px) / 2) + 167px);
  }

  .u-section-1 .u-icon-3 {
    margin-top: -534px;
    margin-right: calc(((100% - 940px) / 2) + 138px);
  }

  .u-section-1 .u-group-1 {
    width: 409px;
    margin-top: -82px;
    margin-left: calc(((100% - 940px) / 2) + 39px);
    height: auto;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 74px;
    margin-left: calc(((100% - 940px) / 2) + 218px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-2 {
    width: 720px;
    height: 770px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-shape-3 {
    margin-top: -661px;
    margin-right: calc(((100% - 720px) / 2) + 240px);
  }

  .u-section-1 .u-text-2 {
    margin-top: -51px;
    margin-right: calc(((100% - 720px) / 2) + 42px);
    margin-left: calc(((100% - 720px) / 2) + 346px);
  }

  .u-section-1 .u-text-3 {
    margin-top: 25px;
    margin-right: calc(((100% - 720px) / 2) + 54px);
    margin-left: calc(((100% - 720px) / 2) + 427px);
  }

  .u-section-1 .u-text-4 {
    margin-top: 22px;
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 382px);
    font-weight: normal;
  }

  .u-section-1 .u-text-5 {
    margin-top: 20px;
    margin-right: calc(((100% - 720px) / 2) + 58px);
    margin-left: calc(((100% - 720px) / 2) + 431px);
    font-weight: normal;
  }

  .u-section-1 .u-text-6 {
    margin-top: 25px;
    margin-right: calc(((100% - 720px) / 2) + 51px);
    margin-left: calc(((100% - 720px) / 2) + 424px);
  }

  .u-section-1 .u-btn-2 {
    margin-top: 32px;
    margin-right: calc(((100% - 720px) / 2) + 51px);
    padding: 10px 21px 10px 20px;
  }

  .u-section-1 .u-shape-4 {
    margin-top: -46px;
    margin-right: calc(((100% - 720px) / 2) + 28px);
  }

  .u-section-1 .u-btn-3 {
    margin-top: -87px;
    margin-right: calc(((100% - 720px) / 2) + 192px);
    padding: 10px 15px 10px 14px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 140px;
    margin-right: auto;
  }

  .u-section-1 .u-icon-2 {
    margin-right: calc(((100% - 720px) / 2) + 166px);
  }

  .u-section-1 .u-icon-3 {
    margin-top: -557px;
    margin-right: calc(((100% - 720px) / 2) + 67px);
    padding: 17px;
  }

  .u-section-1 .u-group-1 {
    width: 321px;
    margin-top: -83px;
    margin-left: calc(((100% - 720px) / 2) + 39px);
  }

  .u-section-1 .u-icon-4 {
    margin-top: 97px;
    margin-left: calc(((100% - 720px) / 2) + 166px);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1528px;
  }

  .u-section-1 .u-shape-2 {
    width: 540px;
    height: 1182px;
    margin-top: 140px;
    margin-right: auto;
  }

  .u-section-1 .u-shape-3 {
    margin-top: -674px;
    margin-right: calc(((100% - 540px) / 2) + 452px);
    margin-left: calc(((100% - 540px) / 2) + 79px);
  }

  .u-section-1 .u-text-2 {
    width: 332px;
    margin-top: -47px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    width: 220px;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-4 {
    width: 261px;
    margin-top: 27px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-5 {
    width: 236px;
    margin-top: 44px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-6 {
    width: 348px;
    margin-top: 39px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 57px;
    margin-right: calc(((100% - 540px) / 2) + 106px);
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-1 .u-shape-4 {
    margin-top: -36px;
    margin-right: calc(((100% - 540px) / 2) + 87px);
  }

  .u-section-1 .u-btn-3 {
    margin-top: -95px;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 123px);
  }

  .u-section-1 .u-icon-1 {
    margin-top: 109px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: -50px;
    margin-right: calc(((100% - 540px) / 2) + 123px);
  }

  .u-section-1 .u-icon-3 {
    margin-top: -611px;
    margin-right: calc(((100% - 540px) / 2) + 138px);
    padding: 22px;
  }

  .u-section-1 .u-group-1 {
    width: 411px;
    min-height: 431px;
    margin-top: -565px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 631px;
    margin-left: calc(((100% - 540px) / 2) + 123px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1422px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  }

  .u-section-1 .u-shape-2 {
    width: 392px;
    height: 1006px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: -522px;
    margin-right: calc(((100% - 340px) / 2) + 252px);
    margin-left: calc(((100% - 340px) / 2) + 30px);
  }

  .u-section-1 .u-text-2 {
    width: 211px;
    margin-top: -45px;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
    margin-top: 30px;
  }

  .u-section-1 .u-text-4 {
    width: 340px;
    margin-top: 30px;
  }

  .u-section-1 .u-text-5 {
    width: 340px;
    margin-top: 30px;
  }

  .u-section-1 .u-text-6 {
    width: 340px;
    margin-top: 25px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 53px;
    margin-right: calc(((100% - 340px) / 2) + 58px);
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-1 .u-shape-4 {
    margin-top: -44px;
    margin-right: calc(((100% - 340px) / 2) + 30px);
  }

  .u-section-1 .u-btn-3 {
    margin-top: -89px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + 55px);
    padding-left: 2px;
    padding-right: 2px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -495px;
  }

  .u-section-1 .u-icon-2 {
    margin-right: calc(((100% - 340px) / 2) + 30px);
  }

  .u-section-1 .u-icon-3 {
    margin-top: 54px;
    margin-right: calc(((100% - 340px) / 2) + 58px);
  }

  .u-section-1 .u-group-1 {
    width: 284px;
    min-height: 338px;
    margin-top: -547px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 40px;
    margin-left: calc(((100% - 340px) / 2) + 30px);
  }
}

.u-section-1 .u-text-3,
.u-section-1 .u-text-3:before,
.u-section-1 .u-text-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-3.u-text-3.u-text-3:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-text-3 {
  border-color: transparent !important;
}

.u-section-1 .u-text-3.u-text-3.u-text-3.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-text-3 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-text-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-5,
.u-section-1 .u-text-5:before,
.u-section-1 .u-text-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-5.u-text-5.u-text-5:hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-text-5 {
  border-color: transparent !important;
}

.u-section-1 .u-text-5.u-text-5.u-text-5.hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-text-5 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-text-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-4,
.u-section-1 .u-text-4:before,
.u-section-1 .u-text-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-4.u-text-4.u-text-4:hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-text-4 {
  border-color: transparent !important;
}

.u-section-1 .u-text-4.u-text-4.u-text-4.hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-text-4 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-text-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-6,
.u-section-1 .u-text-6:before,
.u-section-1 .u-text-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-6.u-text-6.u-text-6:hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-text-6 {
  border-color: transparent !important;
}

.u-section-1 .u-text-6.u-text-6.u-text-6.hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-text-6 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-text-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-shape-4,
.u-section-1 .u-shape-4:before,
.u-section-1 .u-shape-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-shape-4.u-shape-4.u-shape-4:hover {
  stroke: #000000 !important;
  border-color: #000000 !important;
}

.u-section-1 .u-shape-4.u-shape-4.u-shape-4.hover {
  stroke: #000000 !important;
  border-color: #000000 !important;
}

.u-section-1 .u-shape-3,
.u-section-1 .u-shape-3:before,
.u-section-1 .u-shape-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-shape-3.u-shape-3.u-shape-3:hover {
  stroke: var(--custom-color-2) !important;
  border-color: var(--custom-color-2) !important;
}

.u-section-1 .u-shape-3.u-shape-3.u-shape-3.hover {
  stroke: var(--custom-color-2) !important;
  border-color: var(--custom-color-2) !important;
}

.u-section-1 .u-text-1,
.u-section-1 .u-text-1:before,
.u-section-1 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-1.u-text-1.u-text-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  color: var(--custom-color-2) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-text-1 {
  border-color: transparent !important;
}

.u-section-1 .u-text-1.u-text-1.u-text-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  color: var(--custom-color-2) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-text-1 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-2,
.u-section-1 .u-text-2:before,
.u-section-1 .u-text-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-2.u-text-2.u-text-2:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-text-2 {
  border-color: transparent !important;
}

.u-section-1 .u-text-2.u-text-2.u-text-2.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-text-2 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-text-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-icon-1,
.u-section-1 .u-icon-1:before,
.u-section-1 .u-icon-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-icon-1.u-icon-1.u-icon-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: -2px 2px 8px 0px rgba(128,128,128,1) !important;
  stroke-width: 2px !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  stroke: #404040 !important;
  border-color: #404040 !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-icon-1 {
  stroke-width: 0 !important;
  border-width: 0px !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-1 .u-icon-1.u-icon-1.u-icon-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: -2px 2px 8px 0px rgba(128,128,128,1) !important;
  stroke-width: 2px !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  stroke: #404040 !important;
  border-color: #404040 !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-icon-1 {
  stroke-width: 0 !important;
  border-width: 0px !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-icon-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-icon-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-icon-2,
.u-section-1 .u-icon-2:before,
.u-section-1 .u-icon-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-icon-2.u-icon-2.u-icon-2:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: -2px 2px 8px 0px rgba(128,128,128,1) !important;
  stroke-width: 2px !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  stroke: #404040 !important;
  border-color: #404040 !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-icon-2 {
  stroke-width: 0 !important;
  border-width: 0px !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-1 .u-icon-2.u-icon-2.u-icon-2.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: -2px 2px 8px 0px rgba(128,128,128,1) !important;
  stroke-width: 2px !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  stroke: #404040 !important;
  border-color: #404040 !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-icon-2 {
  stroke-width: 0 !important;
  border-width: 0px !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-icon-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-icon-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-3,
.u-section-1 .u-btn-3:before,
.u-section-1 .u-btn-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-3.u-btn-3.u-btn-3:hover {
  border-radius: 35px !important;
}

.u-section-1 .u-btn-3.u-btn-3.u-btn-3.hover {
  border-radius: 35px !important;
}

.u-section-1 .u-btn-2,
.u-section-1 .u-btn-2:before,
.u-section-1 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2:hover {
  border-radius: 35px !important;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2.hover {
  border-radius: 35px !important;
}

.u-section-1 .u-icon-3,
.u-section-1 .u-icon-3:before,
.u-section-1 .u-icon-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-icon-3 {
  stroke: transparent !important;
  border-color: transparent !important;
  stroke-width: 0 !important;
}

.u-section-1 .u-icon-3.u-icon-3.u-icon-3:hover {
  stroke-width: 0px !important;
  border-radius: 14px !important;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
}

.u-section-1 .u-icon-3 {
  stroke: transparent !important;
  border-color: transparent !important;
  stroke-width: 0 !important;
}

.u-section-1 .u-icon-3.u-icon-3.u-icon-3.hover {
  stroke-width: 0px !important;
  border-radius: 14px !important;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
}

.u-section-1 .u-icon-4,
.u-section-1 .u-icon-4:before,
.u-section-1 .u-icon-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-icon-4.u-icon-4.u-icon-4:hover {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
}

.u-section-1 .u-icon-4.u-icon-4.u-icon-4.hover {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
}